/* #root{
    background-image: url('./assets//pexels-cris-menles-4621648-21287109.jpg');
} */

/* #weather-card{
    background: black;
} */

/* #weather-container{
    background: url('./assets//pexels-cris-menles-4621648-21287109.jpg');
    background-size: cover;
} */

